* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  background: dimgray;
  color: #ddd;
  font-family: arial, sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10;
}

::-webkit-scrollbar-track {
  background: dimgray;
}

#scrollbar-filler {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200;
  width: 10;
  background-color: dimgray;
  display: none;
  z-index: 3;
}

#drop-zone, .drop-zone-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.drop-zone-overlay {
  border: 5px dashed darkslategrey !important;
  background-color: dimgrey;
  opacity: 0.7;
  z-index: 2;
}

/* don't display by default */
.on-dz-over-only {
  display: none;
}

/* display when dz-over is activated */
.dz-over .on-dz-over-only {
  display: initial;
}

.xycentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  text-align: center;
}

.sidebar {
  position: absolute;
  padding-top: 40;
  top: 0;
  left: 0;
  bottom: 0;
  width: 210;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #333;
}

.content {
  position: absolute;
  top: 0;
  left: 210;
  right: 0;
  bottom: 0;
}

/* flex parent */
#importViewSidebar .sidebar-item {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 130px;
}

/* flex item (left and right)*/
#importViewSidebar .meta{
  font-size: 20px;
  color:   #ff5555;
  width: 25px;
}

/* flex item (center) */
#importViewSidebar img {
  max-width: 150px;
  max-height: 99px;
}


#phototrailSidebar {
  padding: 0 20;
}

#importViewSidebar {
  text-align: center;
}

min-height-spacer {
  display: block;
  width: 200px;
}

import-information .import-information {
  padding: 20px 0;
}

top-ctrl, bottom-ctrl, top-nav, filter-select {
  display: block;
  height: 34px;
  position: fixed;
  z-index: 4;
  background-color: #333;
}

top-ctrl {
  top: 0;
  left: 90;
  width: 85;
}

filter-select {
  font-size: 12px;
  top: 0;
  left: 175px;
  width: 25px;
  padding: 15px 5px 0 0;
}

top-nav {
  top: 0;
  left: 0;
  padding: 10px;
  width: 90;
}

bottom-ctrl {
  width: 200;
  bottom: 0;
  left: 0;
  height: 20px;
  margin-top: 14px;
  background: none;
 }

fast-img {
  /*
    The following styles seem to help with pixel redraw.
    (See e.g. http://stackoverflow.com/questions/9983520/webkit-animation-is-leaving-junk-pixels-behind-on-the-screen)
  */
  right: 10px !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}

/* Layout goodness: http://stackoverflow.com/a/18869078/4682556 */
fast-img img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img-repeat {
  display: block;
  overflow: scroll;
  padding-bottom: 80px;
  height: 100%;
}

drag-menu .drag-menu-title {
  display: block;
  margin: 5px 0 10px 0;
  opacity: 0.66;
}

drag-menu .drag-menu-body {
   opacity: 0.80;
}

drag-menu .drag-menu-option {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
  font-size: 10px;
}

keyword-drag-menu p {
  text-align: left;
}

keyword-drag-menu .keyword-cancel {
  padding: 0 2px;
}


.tag {
  display: inline-block;
  padding: 2px;
  margin: 1px;
  border-radius: 5px;
  background-color: dimgray;
}

.selected {
 background-color: dimgrey;
}

.selected .meta {
 color: #222 !important;
}


.preload-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0.01;
}

/* EXIF Orientations */
.orient-2 {
  transform: scale(-1, 1);
  filter: FlipH;
}

.orient-3 {
  transform: scale(-1, 1) scaleY(-1);
  filter: FlipH flipv;
}

.orient-4 {
  transform: scaleY(-1);
  filter: flipv;
}

.orient-5 {
  transform: scaleY(-1) rotate(-90deg);;
  filter: flipv;
}

.orient-6 {
  transform: scale(0.75, 0.75) rotate(90deg);
}

.orient-7 {
  transform: scale(-1, 1) rotate(-90deg);
  filter: FlipH;
}

.orient-8 {
  transform: scale(0.75, 0.75) rotate(-90deg);
}

/**
  trailView import preview styles. There are two view layouts.
**/

/* Locked grid (fill regular rectangles) layout */
div .import-preview-locked-grid-image-wrapper {
  border: solid 3px dimgray;
  height: 150px;
  width: 200px;
  overflow: hidden;
  display: inline-block;
}

.import-preview-locked-grid-image {
  height: 150px;
}

img-repeat .orient-6-scale-up {
  transform: scale(1.75,1.75) rotate(90deg);
}

img-repeat .orient-8-scale-up {
  transform:  scale(1.75,1.75) rotate(-90deg);
}

/* Fit-to height layout */
.import-preview-fit-to-height {
  max-width: 200;
  max-height: 150;
  margin: 4px;
  vertical-align: middle;
}

img-repeat .orient-6-no-scale {
  transform: rotate(90deg);
}

img-repeat .orient-8-no-scale {
  transform: rotate(-90deg);
}

img-repeat .orient-6-medium {
  transform: scale(0.75, 0.75) rotate(90deg);
  margin: 1px -42px !important;
}

img-repeat .orient-8-medium {
  transform: scale(0.75, 0.75) rotate(-90deg);
  margin: 1px -42px !important;
}

img-repeat .orient-6-small {
  transform: scale(0.56, 0.56) rotate(90deg);
  margin: 1px -67px !important;
}

img-repeat .orient-8-small {
  transform: scale(0.56, 0.56) rotate(-90deg);
  margin: 1px -67px !important;
}