* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10;
}

::-webkit-scrollbar-track {
  background: dimgray;
}

#scrollbar-filler {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200;
  width: 10;
  background-color: dimgray;
  display: none;
  z-index: 3;
}

body {
  margin: 0px;
  background: dimgray;
  color: white;
  text-align: center;
}

/* Layout goodness: http://stackoverflow.com/a/18869078/4682556 */
#preview img {
    max-height: 98%;
    max-width: 98%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


#top-ctrl, #bottom-ctrl {
  height: 20px;
  width: 200;
  position: fixed;
  z-index: 4;
}

#top-ctrl {
  top: 0;
  left: 0;
}

#bottom-ctrl {
  bottom: 0;
  left: 0;
 }

#phototrail img {
  max-width: 100%;
  max-height: 130px;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

#drop-zone, .drop-zone-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.drop-zone-overlay {
    border: 5px dashed darkslategrey !important;
    background-color: dimgrey;
    opacity: 0.7;
    z-index: 2;
}

.on-dz-over-only {
  display: none;
}

.dz-over .on-dz-over-only {
  display: initial;
}

.dropZoneContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

#fast-image-wrapper {
  position: absolute;
  top: 10;
  bottom: 10;
  left: 20;
  right: 20;
  /*
    The following styles seem to help with pixel redraw.
    (See e.g. http://stackoverflow.com/questions/9983520/webkit-animation-is-leaving-junk-pixels-behind-on-the-screen)
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}

#phototrail {
  position: absolute;
  padding: 20 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 210;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #333;
}

#preview {
  position: absolute;
  top: 0;
  left: 210;
  right: 0;
  bottom: 0;
}

.selected {
 background-color: dimgrey;
}

.preload-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0.01;
}

.sinking-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

/* EXIF Orientations */
.orient-2 {
  transform: scale(-1, 1);
  filter: FlipH;
}

.orient-3 {
  transform: scale(-1, 1) scaleY(-1);
  filter: FlipH flipv;
}

.orient-4 {
  transform: scaleY(-1);
  filter: flipv;
}

.orient-5 {
  transform: scaleY(-1) rotate(-90deg);;
  filter: flipv;
}

.orient-6 {
  transform: scale(0.75, 0.75) rotate(90deg);
}

.orient-7 {
  transform: scale(-1, 1) rotate(-90deg);
  filter: FlipH;
}

.orient-8 {
  transform: scale(0.75, 0.75) rotate(-90deg);
}

/* scale these slightly less */
#phototrail .orient-6 {
  transform: scale(0.9, 0.9) rotate(90deg);
}

#phototrail .orient-8 {
  transform: scale(0.9, 0.9) rotate(-90deg);
}