* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  background: dimgray;
  color: #ddd;
  font-family: arial, sans-serif;
}

::-webkit-scrollbar {
  width: 10;
}

::-webkit-scrollbar-track {
  background: dimgray;
}

#scrollbar-filler {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 200;
  width: 10;
  background-color: dimgray;
  display: none;
  z-index: 3;
}

#drop-zone, .drop-zone-overlay{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.drop-zone-overlay {
  border: 5px dashed darkslategrey !important;
  background-color: dimgrey;
  opacity: 0.7;
  z-index: 2;
}

/* don't display by default */
.on-dz-over-only {
  display: none;
}

/* display when dz-over is activated */
.dz-over .on-dz-over-only {
  display: initial;
}

.xycentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  text-align: center;
}

.sidebar {
  position: absolute;
  padding: 40 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 210;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #333;
}

.sidebar img {
  max-width: 100%;
  max-height: 130px;
  padding: 20px;
  display: block;
  margin: 0 auto;
}

.content {
  position: absolute;
  top: 0;
  left: 210;
  right: 0;
  bottom: 0;
}

#phototrailSidebar {
  padding: 0 20;
}

#importViewSidebar {
  text-align: center;
}

top-ctrl, bottom-ctrl, top-nav {
  display: block;
  height: 34px;
  position: fixed;
  z-index: 4;
  background-color: #333;
}

top-ctrl {
  top: 0;
  left: 90;
  width: 110;
}

top-nav {
  top: 0;
  left: 0;
  padding: 10px;
  width: 90;
}

bottom-ctrl {
  width: 200;
  bottom: 0;
  left: 0;
  background: none;
 }

fast-img {
  /*
    The following styles seem to help with pixel redraw.
    (See e.g. http://stackoverflow.com/questions/9983520/webkit-animation-is-leaving-junk-pixels-behind-on-the-screen)
  */
  right: 10px !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}

/* Layout goodness: http://stackoverflow.com/a/18869078/4682556 */
fast-img img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.selected {
 background-color: dimgrey;
}

.preload-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0.01;
}

/* EXIF Orientations */
.orient-2 {
  transform: scale(-1, 1);
  filter: FlipH;
}

.orient-3 {
  transform: scale(-1, 1) scaleY(-1);
  filter: FlipH flipv;
}

.orient-4 {
  transform: scaleY(-1);
  filter: flipv;
}

.orient-5 {
  transform: scaleY(-1) rotate(-90deg);;
  filter: flipv;
}

.orient-6 {
  transform: scale(0.75, 0.75) rotate(90deg);
}

.orient-7 {
  transform: scale(-1, 1) rotate(-90deg);
  filter: FlipH;
}

.orient-8 {
  transform: scale(0.75, 0.75) rotate(-90deg);
}