<div class="sidebar" id="importViewSidebar" selection-scroll  import-view-keys>
  <top-ctrl></top-ctrl>
  <top-nav></top-nav>
  <div ng-repeat="photo in photoImport.data | limitTo : ngRepeatLimit track by $index "
        ng-class="{'selected':$index === index.current}"
        ng-click="index.set($index)"
        id="anchor{{$index}}">
    <span ng-show="photo.reject" class="meta reject">✗</span>
    <img ng-src="{{photo.thumbnail}}" ng-show="photo.thumbnail" ng-class="photo.orientClass" alt="">
    <span ng-show="photo.pick" class="meta pick">✔</span>
  </div>
  <bottom-ctrl></bottom-ctrl>
</div>

<div class="content">
  <fast-img></fast-img>
  <keyword-drag-menu></keyword-drag-menu>
</div>

<div id="scrollbar-filler"></div>