<div class="sidebar" id="importViewSidebar" selection-scroll  import-view-keys>
  <top-ctrl></top-ctrl>
  <top-nav></top-nav>
  <div ng-repeat="photo in photoImport.data | limitTo : ngRepeatLimit track by $index "
        ng-class="{'selected':$index === index.current}"
        ng-click="index.set($index)"
        id="anchor{{$index}}">
    <img ng-src="{{photo.thumbnail}}" ng-show="photo.thumbnail" ng-class="photo.orientClass" alt="">
  </div>
  <bottom-ctrl></bottom-ctrl>
</div>
<fast-img class="content"></fast-img>
<div id="scrollbar-filler"></div>