<div swipe-right>
  <div id="phototrailSidebar" class="sidebar" trail-view-keys>
    <h1>Library</h1>
    <h3>Imports</h3>
    <div ng-repeat="photoImport in photoLibrary track by $index">
      <p>
        <span ng-if="$index !== index.current">&nbsp;&nbsp;&nbsp;</span>
        <span ng-if="$index === index.current">&gt; &nbsp;</span>
        <span ng-click="importSelect($index)" ng-controller="clickImportSelectCtrl">
          {{photoImport.date | date:'yyyy-MM-dd'}}
        </span>
      </p>
    </div>
  </div>
  <import-information class="content"></import-information>
</div>